In [1]:
import urllib.request
    
url = 'https://data.geo.admin.ch/ch.swisstopo.amtliches-strassenverzeichnis/csv/2056/ch.swisstopo.amtliches-strassenverzeichnis.zip'
filehandle, _ = urllib.request.urlretrieve(url)

In [2]:
from zipfile import ZipFile

with ZipFile(filehandle, 'r') as zip:
    # printing all the contents of the zip file
    zip.printdir()

    data = zip.read("pure_str.csv")

File Name                                             Modified             Size
pure_str.csv                                   2022-09-26 02:54:18     23541603
timestamp.txt                                  2022-09-26 03:16:26           10

In [3]:
import chardet

result = chardet.detect(data)
print(result)
print(type(data))

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}
<class 'bytes'>

In [4]:
from io import StringIO
import pandas as pd

s=str(data,'UTF-8-SIG')
datan = StringIO(s)

df = pd.read_csv(datan, encoding='UTF-8-SIG', sep=';')
df.head()

,STR_ESID,STN_LABEL,ZIP_LABEL,COM_FOSNR,COM_NAME,COM_CANTON,STR_TYPE,STR_STATUS,STR_OFFICIAL,STR_VALID,STR_MODIFIED,STR_EASTING,STR_NORTHING
0,10258316,Eggwald,6484 Wassen UR,1220,Wassen,UR,Place,real,True,False,10.09.2022,NaN,NaN
1,10023770,Wiedenweg,4203 Grellingen,2786,Grellingen,BL,Street,real,True,True,09.09.2022,2610733.0,1254311.0
2,10179192,Wuhrbärgli,4253 Liesberg,2788,Liesberg,BL,Street,real,True,True,26.08.2022,2598709.0,1249640.0
3,10250501,Hüethütte Unter Trübsee,6390 Engelberg,1511,Wolfenschiessen,NW,Area,real,True,True,07.08.2021,2671798.0,1184817.0
4,10163108,Heimstenstich,4436 Liedertswil,2890,Liedertswil,BL,Area,real,True,True,03.03.2022,2621856.0,1248672.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 221256 entries, 0 to 221255
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   STR_ESID      221256 non-null  int64
 1   STN_LABEL     221256 non-null  object
 2   ZIP_LABEL     221256 non-null  object
 3   COM_FOSNR     221256 non-null  int64
 4   COM_NAME      221256 non-null  object
 5   COM_CANTON    221256 non-null  object
 6   STR_TYPE      220831 non-null  object
 7   STR_STATUS    221256 non-null  object
 8   STR_OFFICIAL  221256 non-null  bool
 9   STR_VALID     221256 non-null  bool
 10  STR_MODIFIED  221256 non-null  object
 11  STR_EASTING   220176 non-null  float64
 12  STR_NORTHING  220176 non-null  float64
dtypes: bool(2), float64(2), int64(2), object(7)
memory usage: 19.0+ MB

In [6]:
import numpy as np
df.describe(include=object)

,STN_LABEL,ZIP_LABEL,COM_NAME,COM_CANTON,STR_TYPE,STR_STATUS,STR_MODIFIED
count,221256,221256,221256,221256,220831,221256,221256
unique,128524,6881,2135,26,3,2,232
top,Dorfstrasse,9642 Ebnat-Kappel,Zürich,BE,Street,real,27.08.2022
freq,643,502,2515,30642,171983,221048,23544